<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gamestudio</title>
</head>
<body>
    <h1>Welcome to Gamestudio!</h1>

    <th:block th:if="${@userFrajkorController.logged}">
        You are logged in as <span th:text = "${@userFrajkorController.loggedUser.username}"></span>
        <a href="/user/logout">Logout</a>
    </th:block>

    <div th:if="${not @userFrajkorController.logged}">
        <form method="get" action="/user/login">
            <label>
                Username:
                <input type="text" placeholder="Your username"/>
            </label>
            <label>
                Password:
                <input type="password" placeholder="Your password">
            </label>
        </form>
        <input type="submit" value="Login">
    </div>

    <h2>Register to GameStudio</h2>
    <form method="post" action="/register">
        <label>
            Username:
            <input type="text" placeholder="Your username"/>
        </label>
        <label>
            Password:
            <input type="password" placeholder="Your password">
        </label>

        <input type="submit" value="Register">
    </form>

    <div><a href="/diamond-frajkor">Diamond</a></div>
</body>
</html>