<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="emptyPiece(viewPiece)">
    <!--/* the following comment is only a hint for IntelliJ IDEA for code completion and analysis */-->
    <!--/* @thymesVar id="viewPiece" type="sk.tuke.gamestudio.game.diamond.frajkor.webui.ViewPiece<sk.tuke.gamestudio.game.diamond.frajkor.core.IPiece>" */-->
    <a th:href="@{/diamond-frajkor(row=${viewPiece.row}, column=${viewPiece.column})}" class="tile-link">
        <img th:src="@{/images/diamond/frajkor/emptyPiece.png}" class="tile-mark" th:if="${viewPiece.isEmpty()}">
    </a>
</th:block>

<th:block th:fragment="neutralPiece(viewPiece)">
    <!--/* the following comment is only a hint for IntelliJ IDEA for code completion and analysis */-->
    <!--/* @thymesVar id="viewPiece" type="sk.tuke.gamestudio.game.diamond.frajkor.webui.ViewPiece<sk.tuke.gamestudio.game.diamond.frajkor.core.IPiece>" */-->
    <a th:href="@{/diamond-frajkor(row=${viewPiece.row}, column=${viewPiece.column})}" class="tile-link">
        <img th:src="@{/images/diamond/frajkor/redPiece.png}" class="tile-mark" th:if="${viewPiece.isTaken()}">
    </a>
</th:block>

</body>
</html>