<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="emptyPiece(viewPiece)">
    <!--/* the following comment is only a hint for IntelliJ IDEA for code completion and analysis */-->
    <!--/* @thymesVar id="viewPiece" type="sk.tuke.gamestudio.game.diamond.frajkor.webui.ViewPiece" */-->
    <a th:href="@{/diamond-frajkor(row=${viewPiece.row}, column=${viewPiece.column})}" class="piece-link">
        <div class="circle piece-empty">
        </div>
    </a>
</th:block>

<th:block th:fragment="neutralPiece(viewPiece)">
    <!--/* the following comment is only a hint for IntelliJ IDEA for code completion and analysis */-->
    <!--/* @thymesVar id="viewPiece" type="sk.tuke.gamestudio.game.diamond.frajkor.webui.ViewPiece" */-->
    <a th:href="@{/diamond-frajkor(row=${viewPiece.row}, column=${viewPiece.column})}" class="piece-link">
        <div class="circle piece-neutral"></div>
    </a>
</th:block>

<th:block th:fragment="blackPiece(viewPiece)">
    <!--/* the following comment is only a hint for IntelliJ IDEA for code completion and analysis */-->
    <!--/* @thymesVar id="viewPiece" type="sk.tuke.gamestudio.game.diamond.frajkor.webui.ViewPiece" */-->
    <a
    <a th:href="@{/diamond-frajkor(row=${viewPiece.row}, column=${viewPiece.column})}" class="piece-link">
        <div class="circle piece-black"></div>
<!--        <div class="circle piece-black piece-highlight" th:unless="${webUI.isPlacementPhase()}"></div>-->
    </a>
</th:block>

<th:block th:fragment="whitePiece(viewPiece)">
    <!--/* the following comment is only a hint for IntelliJ IDEA for code completion and analysis */-->
    <!--/* @thymesVar id="viewPiece" type="sk.tuke.gamestudio.game.diamond.frajkor.webui.ViewPiece" */-->
    <a th:href="@{/diamond-frajkor(row=${viewPiece.row}, column=${viewPiece.column})}" class="piece-link">
        <div class="circle piece-white"></div>
    </a>
</th:block>

</body>
</html>