body{
    background-image: linear-gradient(to bottom right, darkslateblue, #00f2fe);
}

h1{
    font-size: 40px;
    font-family: "Agency FB",Helvetica,"Times New Roman",sans-serif;
    color: darkslateblue;
    text-align: center;
    font-weight: bolder;
}

main {
    width: 100%;
    display: flex;
    }

.field{
    justify-content: center;
    text-align : center;
    flex-direction: column;
    width: 50%;
}

.field-row {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 2px;
    border: none;
}

 .circle {
      width: 25px;
      height: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: gray;
      margin-left: 10px;
      margin-right: 25px;
    }

.circle:hover{
    background: blue;
}

.piece-link{
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.piece-neutral {
    background: red;
}

.piece-empty{
    background: gray;
}

.piece-black{
    background: black;
}

.piece-white{
    background: white;
}

.piece-highlight{
    border-color: red;
    border-style: dashed;
}


.tables{
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
}


table {
    border-collapse: collapse;
    border: none;
    display: inline;
}

tr {
    border-bottom: 1px solid gray;
}

.tables h2{
    font-family: "Agency FB",Helvetica,sans-serif;
    color: whitesmoke;
    background-color: blue;
}

th, td {
    text-align: left;
    padding: 5px;

}

footer{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    padding: 20px;
}