@import "diamond-frajkor_stars.css";
@import "diamond-frajkor_forms.css";

body{
    background: linear-gradient(to bottom right, darkslateblue, skyblue) no-repeat fixed center;
}

h1{
    font-size: 35px;
    font-family: "Agency FB",Helvetica,"Times New Roman",sans-serif;
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
}

main {
    width: 100%;
    display: flex;
    }

.gameContainer{
    justify-content: center;
    text-align: center;
    width: 50%;
}

.field{
    justify-content: center;
    text-align : center;
    flex-direction: column;
    margin-top: 25px;
    margin-left: -14px;
}

.field-row {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
}

 .circle {
      width: 27px;
      height: 27px;
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      border-radius: 27px;
      background: gray;
      margin-left: 27px;
    }

.circle:hover{
    background: cornflowerblue;
}

.piece-link{
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

.piece-neutral {
    background: red;
}

.piece-empty{
    background: gray;
}

.piece-black{
    background: black;
}

.piece-white{
    background: white;
}

.piece-highlight{
    border-color: red;
    border-style: dashed;
}

.tables{
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
    opacity: 85%;
    border-radius: 25px;
}


table {
    border-collapse: collapse;
    border: none;
    display: inline;
}

tr {
    border-bottom: 1px solid gray;
}

.tables h2{
    font-family: "Agency FB",Helvetica,sans-serif;
    color: whitesmoke;
    background-color: cornflowerblue;
}

.tables tr:nth-child(odd){
    background-color: cornflowerblue;
}

th, td {
    text-align: center;
    padding: 5px;
}

th{
    font-family: "Agency FB",Helvetica,"Times New Roman",sans-serif;
    background: cornflowerblue;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}


footer{
    justify-content: center;
    text-align: center;
    display: flex;
    font-size: 1rem;
    padding: 20px;
}

.winInfo .drawInfo .loseInfo .gameInfo{
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.winInfo p, .drawInfo p, .loseInfo p, .gameInfo p{
    font-size: 150%;
    font-family: "Agency FB", Helvetica, "Times New Roman", sans-serif;
    color: antiquewhite;
    text-align: center;
}

.gameInfo button{
    text-align: center;
    justify-content: center;
}

.restartButton{
    text-align: center;
    justify-content: center;
}

footer{
    font-size: 120%;
    font-family: "Agency FB",Helvetica,sans-serif;
    color: whitesmoke;
}

.userInfo{
    color: white;
    font-family: "Agency FB", Helvetica, "Times New Roman", sans-serif;
    text-align: center;
}

.gameStudioLink{
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: cornflowerblue;
}

.gameStudioLink:hover{
    color: white;
}
