.rating-stars .average-stars{
    display: inline-block;
    justify-content: center;
}

.rating-stars span, .average-stars span{
    margin-left: 20px;
}

.checked{
    color: cornflowerblue;
}

.unchecked{
    color: dimgray;
}
