<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diamond</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/diamond-frajkor.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"></link>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>Diamond</h1>

<!--    <div class="gamePhase" th:text="gamePhase=${webUI.getField().getGamePhase()}"></div>-->

    <div class="field" th:with="field=${webUI.getField()}">
        <span class="field__row" th:each="rowIdx: ${#numbers.sequence(0, field.getRowCount() - 1)}">
            <th:block th:each="colIdx: ${#numbers.sequence(0, field.getColumnCount(rowIdx) - 1)}">
                <th:block th:with="viewPiece=${webUI.getViewPiece(rowIdx, colIdx)}">
                    <div th:data-state="${viewPiece.type}" th:class="'field__piece piece--type-' + ${viewPiece.type}"
                         th:switch="${viewPiece.getType()}">
                        <th:block th:case="empty">
                            <div th:replace="fragments/diamond-frajkor_pieces :: emptyPiece(*{viewPiece})"></div>
                        </th:block>
                        <th:block th:case="neutral">
                            <div th:replace="fragments/diamond-frajkor_pieces :: neutralPiece(*{viewPiece})"></div>
                        </th:block>
                        <th:block th:case="white">
                            <div th:replace="fragments/diamond-frajkor_pieces :: whitePiece(*{viewPiece})"></div>
                        </th:block>
                        <th:block th:case="black">
                            <div th:replace="fragments/diamond-frajkor_pieces :: blackPiece(*{viewPiece})"></div>
                        </th:block>
                    </div>
                </th:block>
            </th:block>
        </span>
    </div>


<!--    <div th:if="${webUI.isGameLost()}" class="game-status game-status&#45;&#45;lost">Game Over</div>-->
    <div th:if="${webUI.isGameWon()}" class="game-status game-status--won"
         th:text="'You won! Your score is ' + ${webUI.getFinalScore()}"></div>


    <a href="?command=new">
        <button>New Game</button>
    </a>

    <div class="tables">
    <h2>Hall of fame</h2>

    <!-- Hall of Fame - Server side generation - Thymeleaf -->
    <table>
        <thead>
        <tr>
            <th>Game</th>
            <th>Player</th>
            <th>Points</th>
            <th>Played on</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score: ${scores}">
            <td th:text="${score.game}"></td>
            <td th:text="${score.player}"></td>
            <td th:text="${score.points}"></td>
            <td th:text="${score.playedOn}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <script>
    function handleTileRightClick(piece) {
        var link = piece.querySelector(".piece-link").href;
        var command = piece.attributes['data-state'].value === 'empty' ? "place" : "";
        window.location.href = link + '&command=' + command;
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".piece--type-empty").forEach(function (element) {
            element.addEventListener("contextmenu", function (event) {
                event.preventDefault();
                handleTileRightClick(element);
            });
        });
    });
    </script>
</body>
</html>