<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diamond</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/diamond-frajkor.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"></link>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
</head>

<body>
<h1>Diamond</h1>

<main>
    <div class="field" th:utext="${@diamondFrajkorController.htmlField}"></div>

    <div class="tables">
        <div class = "scores">
        <h2>Hall of fame</h2>

        <!-- Hall of Fame - Server side generation - Thymeleaf -->
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Points</th>
                <th>Played on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score: ${scores}">
                <td th:text="${score.player}"></td>
                <td th:text="${score.points}"></td>
                <td th:text="${score.playedOn}"></td>
            </tr>
            </tbody>
        </table>
        </div>

        <div class = "ratings">
        <h2>Player Ratings</h2>
            <p>Average rating for this game is:</p>
                <p th:text="${averageRating}"></p>
            <p>Your current rating for this game is:</p>
            <p th:text="${playerRating}"></p>
        </div>

        <div class="comments">
        <h2>Comments</h2>
        <table>
            <thead>
            <tr>
                <th>Player</th>
                <th>Comment</th>
                <th>Commented on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment: ${comments}">
                <td th:text="${comment.player}"></td>
                <td th:text="${comment.comment}"></td>
                <td th:text="${comment.commentedOn}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</main>



<div th:text="${@diamondFrajkorController.gamePhase}"></div>
<div th:text="${@diamondFrajkorController.gameState}"></div>
<div>
<a href="/diamond-frajkor/new">
    <button>New Game</button>
</a>
</div>

<footer>
    Martin Frajkor, Komponentové programovanie 2020, TUKE
</footer>


<script>
    function handleTileRightClick(piece) {
        console.log(gameField);
        var link = piece.querySelector(".piece-link").href;
        var command = piece.attributes['data-state'].value === 'empty' ? "highlight" : "";
        window.location.href = link + '&command=' + command;
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".piece-link").forEach(function (element) {
            element.addEventListener("contextmenu", function (event) {
                event.preventDefault();
                handleTileRightClick(element);
            });
        });
    });
</script>
</body>
</html>