<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diamond</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/diamond-frajkor.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
</head>

<body>
<h1>Diamond</h1>
<th:block>
    <div th:if="${@userFrajkorController.logged}">
        <div class = "userInfo" th:text="|You are logged in as ${@userFrajkorController.loggedUser.username}|"></div>
    </div>
    <div th:unless="${@userFrajkorController.logged}">
        <div class="userInfo" th:text="|You are not logged in. Log in at Gamestudio.|"></div>
    </div>
    <div><a class="gameStudioLink" href="/">Back to Gamestudio</a></div>
</th:block>



<div class="winInfo" th:if="${@diamondFrajkorController.gameWon}">
    <p>Congratulations! You have won.</p>
</div>
<div class="loseInfo" th:if="${@diamondFrajkorController.gameLost}">
    <p>Too bad! You have lost. Please try again.</p>
</div>
<div class="drawInfo" th:if="${@diamondFrajkorController.gameDrawn}">
    <p>The game has been drawn. Please try again.</p>
</div>

<main>
    <div class="gameContainer">
        <div class="gameInfo">
            <p th:text="|Current game phase: ${@diamondFrajkorController.gamePhase}"></p>
        </div>

        <div class="restartButton">
            <a href="/diamond-frajkor/new">
                <button class="formButton">Restart</button>
            </a></div>
    <div class="field" th:utext="${@diamondFrajkorController.htmlField}"></div>
    </div>


    <div class="tables">
        <div class="scores">
            <h2>Hall of fame</h2>

            <!-- Hall of Fame - Server side generation - Thymeleaf -->
            <table>
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Points</th>
                    <th>Played on</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="score: ${scores}">
                    <td th:text="${score.player}"></td>
                    <td th:text="${score.points}"></td>
                    <td th:text="${score.playedOn}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="ratings">
            <h2>Player Ratings</h2>
            <p>Average rating for this game is:</p>
            <div class="average-stars">
                <th:block th:with="averageRating = ${averageRating}"
                          th:each="i: ${#numbers.sequence(0, averageRating - 1)}">
                    <div class="fa fa-star checked"></div>
                </th:block>
                <th:block th:with="averageRating = ${averageRating}" th:each="i: ${#numbers.sequence(averageRating,5)}">
                    <div th:if="${i &lt; 5}" class="fa fa-star unchecked"></div>
                </th:block>
                <span th:text="|${averageRating} out of 5|"></span>
            </div>

            <th:block th:if="${@userFrajkorController.logged}">
            <p>Your current rating for this game is:</p>
            <div class="rating-stars">
                <th:block th:with="playerRating = ${playerRating}"
                          th:each="i: ${#numbers.sequence(0, playerRating - 1)}">
                    <div class="fa fa-star checked"></div>
                </th:block>
                <th:block th:with="playerRating = ${playerRating}" th:each="i: ${#numbers.sequence(playerRating,5)}">
                    <div th:if="${i &lt; 5}" class="fa fa-star unchecked"></div>
                </th:block>
                <span th:text="|${playerRating} out of 5|"></span>
            </div>


            <p>Submit your rating:</p>
            <form method="get" action="/diamond-frajkor/rating" id="ratingForm">
                <input type="radio" th:name="rating" th:value="1" value="1" required><label>1</label>
                <input type="radio" th:name="rating" th:value="2" value="2"><label>2</label>
                <input type="radio" th:name="rating" th:value="3" value="3"><label>3</label>
                <input type="radio" th:name="rating" th:value="4" value="4"><label>4</label>
                <input type="radio" th:name="rating" th:value="5" value="5"><label>5</label>
                <div>
                    <input type="submit" value="Submit" class="formButton">
                </div>
            </form>
            </th:block>

            <div class="comments">
                <h2>Latest comments</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Comment</th>
                        <th>Commented on</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="comment: ${comments}">
                        <td th:text="${comment.player}"></td>
                        <td th:text="${comment.comment}"></td>
                        <td th:text="${comment.commentedOn}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <th:block th:if="${@userFrajkorController.logged}">
            <form method="get" action="/diamond-frajkor/comment" id="commentForm">
                <div>
                <label>Enter your comment:</label>
                <textarea rows="4" cols="50" th:name="comment" required minlength="5"></textarea>
                </div>
                <div>
                    <input type="submit" value="Add comment" class="formButton">
                </div>
            </form>
            </th:block>
</main>


<footer>
    Martin Frajkor, Komponentové programovanie 2020, TUKE
</footer>

</body>
</html>