<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/diamond-frajkor_index.css">
    <title>Gamestudio</title>
</head>

<body>
<h1>Welcome to Gamestudio!</h1>

<div class="registrationForms">
    <th:block>
        <div class="loginForm" th:if="${@userFrajkorController.logged}">
            <h2>Logged in</h2>
            <div class="loggedIn" th:text="|You are logged in as ${@userFrajkorController.loggedUser.username}|"></div>
            <a href="user/logout"><button id="formButtonLogin">Logout</button></a>
        </div>

        <div class="loginForm" th:unless="${@userFrajkorController.logged}">
            <h2>Login to Gamestudio</h2>
            <form method="post" action="user/login">
                <div>
                    <label>
                        Username:
                        <input type="text" placeholder="Your username" th:value="${username}" name="username" required/>
                    </label>
                </div>
                <div>
                    <label>
                        Password:
                        <input type="password" placeholder="Your password" th:value="${password}" name="password" required/>
                    </label>
                </div>
                <button type="submit" class="formButton">Login</button>
            </form>
        </div>
    </th:block>

    <div class="registerForm">
        <h2>Register to GameStudio</h2>
        <form method="post" action="user/register">
            <div>
                <label>
                    Username:
                    <input type="text" placeholder="Your username" th:value="${username}" name="username" required/>
                </label>
            </div>
            <div>
                <label>
                    Password:
                    <input type="password" placeholder="Your password" th:value="${password}" name="password" required>
                </label>
            </div>
            <button type="submit" class="formButton">Register</button>
        </form>
    </div>
</div>

<div th:if="${@userFrajkorController.notification}" th:text="${@userFrajkorController.notification}" class="notification"></div>

<h2>Games</h2>
<div class="gameLink"><a href="/diamond-frajkor">DIAMOND</a></div>

</body>
</html>